session_name "civalgo"
layout {
    tab name="Portal" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane borderless=true {
            cwd "$PORTAL_WORKTREE_PATH"
            command "nvim"
        }
    }
    tab name="Motors" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
            pane {
                cwd "$PORTAL_WORKTREE_PATH"
                command "fish"
                args "-C" "__cmux-portal"
            }
            pane {
                cwd "$GITTER_DIR/civalgo/sombra/"
                command "fish"
                args "-C" "__cmux-sombra"
            }
        }
        pane size=2 borderless=true {
            cwd "$GITTER_DIR/civalgo/"
            command "fish"
            args "-c" "__cmux-killer"
        }
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
}

keybinds {
    shared_among "normal" "locked" {
        bind "Ctrl Alt h" { GoToTab 1; }
        bind "Ctrl Alt t" { GoToTab 2; }
        bind "Ctrl Alt n" { GoToTab 3; }
        bind "Ctrl Alt s" { GoToTab 4; }
        bind "Ctrl Alt l" {
            NewTab {
                name "Lego"
                layout "lego"
            }; MoveTab "left";
        }
        bind "Ctrl Alt b" {
            NewTab {
                name "Sombra"
                layout "sombra"
            }; MoveTab "left";
        }
    }
}
