session_name "civalgo"
layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
        pane command="fish" {
            cwd "$GITTER_DIR/civalgo/portal/"
            args "-C" "__cmux-portal"
        }
        pane command="fish" {
            cwd "$GITTER_DIR/civalgo/sombra/"
            args "-C" "__cmux-sombra"
        }
    }
    pane size=3 borderless=true command="fish" {
        cwd "$GITTER_DIR/civalgo/"
        args "-c" "__cmux-killer"
    }
    pane size=2 borderless=true {
        plugin location="status-bar"
    }
}
